/* ============== bg.io defaults ============== */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: grid; 
  place-items: center; 
  height: 100vh; 
  width: 100vh;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ============== Containers ============== */

.parent-grid-container {
  display: grid;
  gap: 20px;
  justify-items: center;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.stock-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;  
}

/* ============== Cells ============== */

.board-cell {
  width: 120px;
  height: 120px;

  border: 1px solid #555;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 50px; /* Base gobbler size */
}

.stock-cell {
  position: relative;

  height: 70px;
  width: 70px;

  border: 1px solid #555;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px; /* Base gobbler size */
}

/* ========= Gobblers size scales ========= */

.gobbler {
  position: absolute;
}

.gobbler[data-size="0"] {
  font-size: 1em;
}

.gobbler[data-size="1"] {
  font-size: 1.5em;
}

.gobbler[data-size="2"] {
  font-size: 2.2em;
}

/* ========= Gobbler's colors ========= */

.gobbler[data-player="0"] {
  color: orange;
}

.gobbler[data-player="1"] {
  color: blue;
}

.gobbler[data-selected="true"] {
  color: red;
}

/* Out of stock (greyed out) */

.gobbler[data-amount="0"] {
  color: gray;
}

/* ========= ========= */

.stock-amount {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10px;
}

